/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(116, 116, 116);
$color_type_1: rgb(255, 255, 255);

$font_type_0: 20.000001907348633px/1.89 "Noto Sans TC", Helvetica, Arial, serif;

.btn-more {
  &-btn__more {
    @include flex-column;
    background-color: $color_type_1;
    border: 2px solid rgb(255, 255, 255);
  }
  &-btn__more.layout {
    position: relative;
    width: 161px;
    min-width: 161px;
  }
  &-subtitle2 {
    @include font-face($font_type_0, $color_type_0, 1.6999999999999997px);
  }
  &-subtitle2.layout {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    width: fit-content;
    margin: 5px auto;
  }
}
