/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(255, 255, 255);

.history {
  &-main {
    @include flex-column;
    background-color: $color_type_0;
  }
  &-main.layout {
    position: relative;
    overflow: hidden;
    min-width: 0px;
    max-width: 1920px;
  }
  &-banner.layout {
    position: relative;
    height: 950px;
    @include xl {
      height: 800px;
      margin: 0px;
    }
    @include lg {
      height: 700px;
    }
  }
  &-main-item {
    @include flex-column;
    position: relative;
  }
  &-section2__history__main {
    @include flex-column;
    margin-bottom: 5%;
  }
  &-section2__history__main.layout {
    position: relative;
    flex-grow: 1;
  }
  &-section2__title {
    flex-grow: 1;
  }
  &-section2__title.layout {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    width: fit-content;
    margin: 110px auto 95px;
    @include xl {
      margin: 60px auto;
    }
    @include lg {
      margin: 36px auto;
    }
  }
  &-footer {
    width: 100%;
    height: 100%;
  }
}

.history_box{
  position: relative;
  .swiper.mySwiper{
    max-width: 1500px;
    width: 88%;
    margin: 0 auto;
    height: 270px;
  }
  .swiper-slide{
    width: 19.5%;
    &:hover:not(.s_circle){
        .year{
            font-weight: bold;
            font-size: 36px;
        }
        .line{
            &::before{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 3px solid #1B597C;
            }
            &::after{
                z-index: 10;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                background: #1B597C;
            }
        }
        .title_name{
            font-size: 36px;
            font-weight: bold;
            color: #1B597C;
            border-bottom: 4px solid #1B597C;
        }
    }
    .year{
        width: 110px;
        height: 70px;
        font-size: 32px;
        color: #1B597C;
        font-weight: 500;
        margin: 0 auto 40px;
        letter-spacing: 1px;
        font-family: 'noto sans';
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: all 0.75s;
    }
    .line{
        position: relative;
        width: 100%;
        height: 3px;
        background: #4F4F4F;
        transition: all 0.75s;
        &::before{
            content: "";
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #fff;
            transition: all 0.75s;
        }
        &::after{
            content: "";
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #1B597C;
            transition: all 0.75s;
        }
    }
    .title_name{
        font-size: 32px;
        color: #747474;
        font-weight: 400;
        line-height: 1.895;
        text-align: center;
        margin: 55px auto 0;
        transition: all 0.75s;
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid transparent;
        p:first-child{
          line-height: 1;
        }
        .en{
            font-size: 24px;
        }
    }
    &.s_circle{
        width: 11%;
        .year{
            font-size: 24px;
            opacity: 0.8;
        }
        .line{
            &::before{
                width: 20px;
                height: 20px;
                background: #1B597C;
            }
            &::after{
                opacity: 0;
            }
        }
        .title_name{
            font-size: 24px;
            color: #A5A5A5;
        }
    }
  }  
  .swiper-button-next{
    top: 43%;
    right: 35px;
    &::after{
      color: #1b597c;
      font-weight: 500;
    }
    &.no-page{
        opacity: 0.5;
    }
  }
  .swiper-button-prev{
    top: 43%;
    left: 35px;
    &::after{
      color: #1b597c;
      font-weight: 500;
    }
    &.no-page{
        opacity: 0.5;
    }
  }
}