/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";
@import "template/modal";
@import "plugIn/swiper-bundle.min";
@import "plugIn/lightcase.min";

$color_type_0: rgb(255, 255, 255);

.photo-detail {
    &-main {
        @include flex-column;
        background-color: $color_type_0;
    }

    &-main.layout {
        position: relative;
        overflow: hidden;
        min-width: 0px;
        max-width: 1920px;
    }

    &-banner.layout {
        position: relative;
    }

    &-photo__detail__main {
        @include flex-column;
    }

    &-photo__detail__main.layout {
        position: relative;
    }

    &-flex {
        @include flex-column;
    }

    &-flex.layout3 {
        position: relative;
        flex-grow: 1;
        width: 72.45%;
        margin: 108px auto 23px;

        @include xl {
            margin: 60px auto 23px;
        }

        @include lg {
            margin: 50px auto 23px;
        }
    }

    &-flex-item {
        @include flex-column;
        position: relative;
    }

    &-s-title {
        flex-grow: 1;
    }

    &-s-title.layout {
        position: relative;
        flex-grow: 1;
        min-width: 0px;
        width: fit-content;
        margin: 0px auto;
    }

    &-title {
        flex-grow: 1;
    }

    &-title.layout {
        position: relative;
        flex-grow: 1;
        min-width: 0px;
        width: fit-content;
        margin: 40px auto 0px;
    }

    &-flex.layout2 {
        position: relative;
        margin: 56px 0px 0px;

        @include xl {
            margin: 46px 0px 0px;
        }

        @include lg {
            margin: 36px 0px 0px;
        }
    }

    &-flex1 {
        display: flex;
    }

    &-flex1.layout {
        position: relative;
    }

    &-flex-item1 {
        @include flex-column;
        position: relative;
        flex: 0 1 448px;
    }

    &-flex.layout {
        position: relative;
        height: min-content;
    }

    &-image {
        border: 5px solid rgba(255, 255, 255, 0);
        width: 100%;
        height: auto;
        vertical-align: top;
        object-fit: contain;
        object-position: center top;
    }

    &-image.layout {
        position: relative;
    }

    &-image1 {
        border: 5px solid rgba(255, 255, 255, 0);
        width: 100%;
        height: auto;
        vertical-align: top;
        object-fit: contain;
        object-position: center top;
    }

    &-image1.layout {
        position: relative;
        margin: 19px 0px 0px;

        @include xl {
            margin: 14px 0px 0px;
        }

        @include lg {
            margin: 9px 0px 0px;
        }
    }

    &-flex-spacer {
        flex: 0 1 16px;
    }

    &-flex-item2 {
        @include flex-column;
        position: relative;
        flex: 0 1 927px;
    }

    &-image3 {
        border: 5px solid rgba(255, 255, 255, 0);
        width: 100%;
        height: auto;
        vertical-align: top;
        object-fit: cover;
        flex: 1;
        object-position: center top;
    }

    &-flex2 {
        display: flex;
    }

    &-flex2.layout {
        position: relative;
        margin: 19px 0px 0px;

        @include xl {
            margin: 14px 0px 0px;
        }

        @include lg {
            margin: 9px 0px 0px;
        }
    }

    &-flex-item3 {
        @include flex-column;
        position: relative;
        flex: 0 1 687px;
    }

    &-image2 {
        border: 5px solid rgba(255, 255, 255, 0);
        width: 100%;
        height: auto;
        vertical-align: top;
        object-fit: contain;
        object-position: center top;
    }

    &-image2.layout {
        position: relative;
    }

    &-flex-spacer1 {
        flex: 0 1 17px;
    }

    &-flex-item4 {
        @include flex-column;
        position: relative;
        flex: 0 1 687px;
    }

    &-flex3 {
        display: flex;
    }

    &-flex3.layout {
        position: relative;
        margin: 18px 0px 0px 1px;

        @include xl {
            margin: 14px 0px 0px 1px;
        }

        @include lg {
            margin: 9px 0px 0px 1px;
        }
    }

    &-flex-item5 {
        @include flex-column;
        position: relative;
        flex: 0 1 927px;
    }

    &-image4 {
        border: 5px solid rgba(255, 255, 255, 0);
        width: 100%;
        height: auto;
        vertical-align: top;
        object-fit: cover;
        flex: 1;
        object-position: center top;
    }

    &-image4.layout {
        position: relative;
    }

    &-flex-spacer2 {
        flex: 0 1 15px;
    }

    &-flex-item6 {
        @include flex-column;
        position: relative;
        flex: 0 1 448px;
    }

    &-flex.layout1 {
        position: relative;
        flex-grow: 1;
    }

    &-image.layout1 {
        position: relative;
        margin: 19px 0px 0px;

        @include xl {
            margin: 14px 0px 0px;
        }

        @include lg {
            margin: 9px 0px 0px;
        }
    }

    &-page__list.layout {
        position: relative;
        width: 381px;
        min-width: 381px;
        margin: 120px auto 0px;
    }

    &-prev {
        flex-grow: 1;
    }

    &-prev.layout {
        position: relative;
        flex-grow: 1;
        min-width: 0px;
        width: fit-content;
        margin: 75px auto 0px;
    }

    &-footer.layout {
        position: relative;
    }

    .title-title {
        line-height: 1.1;
    }

    .swiper_box_photo {
        position: relative;
        padding: 100px 0;
    }

    .swiper {
        margin: 0 auto;

        .swiper-slide {
            width: 100%;
            ul > li a img{
                border: 5px solid transparent;
                transition: all 0.75s;
                &:hover{
                    border: 5px solid #1B597C;
                }
            }
        }

        .ud {
            width: 33%;
            img{
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 0.67;
            }
            > li:first-child{
                margin-bottom: 6px;
            }
        }
    }

    .d-f {
        display: flex;
        margin-top: 6px;       
        li{
            flex: 1;
        } 
        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 0.669;
        }
    }

    .d-fc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .f_1{
        flex: 1;
        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 0.667;
        }
        > li{
            height: 100%;
        }
    }

    .mr-10 {
        margin-right: 6px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 30px;
    }
    img{
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#lightcase-case{
    width: auto !important;
    height: 90vh !important;
    background-color: #fff;
    border-radius: 14px;
    overflow: hidden;
    #lightcase-content{
        background-color: #fff !important;
        width: 100%;
        height: 100%;
        padding: 100px 100px 48px;
    }
    .lightcase-contentInner{
        width: 100% !important;
        height: 100% !important;
        margin: 0 auto;
        img{
            width: auto !important;
            max-width: 1920px !important;
            height: 100% !important;
            max-height: 100% !important;
            object-fit: cover;
            object-position: center;
        }
    }
    .lightcase-icon-close{
        position: absolute;
        width: 42px;
        height: 42px;
        top: 35px;
        right: 35px;
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/assets/22482a3046b7598c2b6d9ddf65e19c12.png') center / contain no-repeat;
        }
        
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/Vectorx-h.jpg') center / contain no-repeat;
            opacity: 0;
            transition: all 0.75s;
        }
    }
    .lightcase-icon-prev{
        position: absolute;
        width: 28px;
        height: 60px;
        left: 30px;
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_l.jpg') center / contain no-repeat;
        }
        
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_l_h.jpg') center / contain no-repeat;
            opacity: 0;
            transition: all 0.75s;
        }
    }
    .lightcase-icon-next{
        position: absolute;
        width: 28px;
        height: 60px;
        right: 30px;
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_r.jpg') center / contain no-repeat;
        }
        
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_r_h.jpg') center / contain no-repeat;
            opacity: 0;
            transition: all 0.75s;
        }
    }
}
.lightcase-open{
    overflow: hidden;
}