/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";
@import "base/mixin";

$color_type_0: rgb(79, 79, 79);

$font_type_0: 24px/1.89 "Noto Sans", Helvetica, Arial, serif;

.song-list {
  &-flex {
    @include flex-column;
  }
  &-flex.layout {
    position: relative;
  }
  &-group {
    @include flex-column;
  }
  &-group.layout1 {
    position: relative;
  }
  &-group.layout {
    position: relative;
    flex-grow: 1;
  }
  &-background {
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
  }
  &-background.layout {
    position: relative;
  }
  &-image {
    background: var(--src) center center / cover no-repeat;
  }
  &-image.layout {
    position: absolute;
    height: 133px;
    bottom: 23px;
    left: 17px;
    right: 16px;
  }
  &-group1 {
    @include flex-column;
    width: 100%;
    height: 100%;
  }
  &-image1 {
    background: var(--src) center center / contain no-repeat;
    transition: all 0.75s;
  }
  &-image1.layout {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  &-flex-item {
    @include flex-column;
    position: relative;
  }
  &-medium-title-box {
    @include h-center-content;
  }
  &-medium-title-box.layout {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    width: fit-content;
    margin: 25px auto 70px;
    @include xl {
      margin: 20px auto 60px;
    }
    @include lg {
      margin: 10px auto 50px;
    }
  }
  &-medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type_0;
    color: $color_type_0;
    text-align: center;
    letter-spacing: 1.9999999999999996px;
    white-space: pre-wrap;
    line-height: 1.5;
  }
  
  &.playNow {
    .song_img{
        background: url('../images/pause.png') center center / contain no-repeat;
      }
  }
}
.song_sound{
    position: absolute;
    top: 0;
    left: 0;    
}

.song_music{
    opacity: 0;
    pointer-events: none;
}

.song-list-image1.layout{
    transition: all 0.75s;
    &.play{
        background: url('../images/pause.png') center center/contain no-repeat;
    }
}

.song_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1264px;
    max-width: 88%;
    margin: 0 auto 56px;
    .song_list{
        width: calc((100% - 200px) / 3);
        margin: 54px 100px 56px 0;
        &:nth-child(3n){
            margin-right: 0;
        }
        @include xl{
            margin: 45px 75px 50px 0;
            width: calc((100% - 150px) / 3);
        }
        @include lg{
            margin: 35px 50px 40px 0;
            width: calc((100% - 100px) / 3);
        }        
        &.playNow{
            .song_img::before{
                background: url('../images/pause.png') center center/contain no-repeat;
            }
            .box{
              span{
                  animation: songMove_1 3s infinite;
                  &:nth-child(2){
                      animation: songMove_2 3s infinite;
                  }
                  &:nth-child(3){
                      animation: songMove_3 3s infinite;
                  }
                  &:nth-child(4){
                      animation: songMove_4 3s infinite;
                  }
                  &:nth-child(5){
                      animation: songMove_5 3s infinite;
                  }
                  &:nth-child(6){
                      animation: songMove_6 3s infinite;
                  }
                  &:nth-child(7){
                      animation: songMove_7 3s infinite;
                  }
                  &:nth-child(8){
                      animation: songMove_8 3s infinite;
                  }
                  &:nth-child(9){
                      animation: songMove_9 3s infinite;
                  }                
                  &:nth-child(10){
                      animation: songMove_10 3s infinite;
                  }
              }
          }
        }
        
        &:hover{
            .song_img{
                border: 4px solid #1B597C;
            }
            .song_txt{
                color: #1B597C;
                // font-weight: 700;
            }
            .box{
                span{
                    animation: songMove_1 3s infinite;
                    &:nth-child(2){
                        animation: songMove_2 3s infinite;
                    }
                    &:nth-child(3){
                        animation: songMove_3 3s infinite;
                    }
                    &:nth-child(4){
                        animation: songMove_4 3s infinite;
                    }
                    &:nth-child(5){
                        animation: songMove_5 3s infinite;
                    }
                    &:nth-child(6){
                        animation: songMove_6 3s infinite;
                    }
                    &:nth-child(7){
                        animation: songMove_7 3s infinite;
                    }
                    &:nth-child(8){
                        animation: songMove_8 3s infinite;
                    }
                    &:nth-child(9){
                        animation: songMove_9 3s infinite;
                    }                
                    &:nth-child(10){
                        animation: songMove_10 3s infinite;
                    }
                }
            }
        }
    }
    .song_img{
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        background-color: #D9D9D9;
        margin-bottom: 16px;
        border: 4px solid transparent;
        transition: all 0.75s;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 92px;
            height: 104px;
            transform: translate(-50%,-50%);
            background: url('../images/assets/5b22938692e7fa0dbfd7df0bc235c37c.png') center / contain no-repeat;
            transition: all 0.75s;
        }    
        &::after{
            content: "";
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background: #D9D9D9;
        }    
        .box{
            span{
                position: absolute;
                bottom: 10px;
                left: 3%;
                display: inline-block;
                width: 8%;
                height: 0;
                padding-bottom: 68.65%;
                background: url('../images/img.png') center / contain no-repeat;
                &:nth-child(2){
                    left: 12.7%;
                }
                &:nth-child(3){
                    left: 22.3%;
                }
                &:nth-child(4){
                    left: 31.9%;
                }
                &:nth-child(5){
                    left: 41.5%;
                }
                &:nth-child(6){
                    left: 51.1%;
                }
                &:nth-child(7){
                    left: 60.7%;
                }
                &:nth-child(8){
                    left: 70.3%;
                }
                &:nth-child(9){
                    left: 79.9%;
                }                
                &:nth-child(10){
                    left: 89.5%;
                }
            }
        }
    }
    .song_txt{
        font-family: "Noto Sans", "Noto Sans TC";
        color: #4F4F4F;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        transition: all 0.75s;
        span{
            @include clamp(1.5, 1)
        }
    }
}
@keyframes songMove_1 {
    0%{
        bottom: -155px;
    }
    25%{
        bottom: -12px;
    }
    50%{
        bottom: -56px;
    }
    75%{
        bottom: -23px;
    }
    100%{
        bottom: -155px;
    }
}
@keyframes songMove_2 {
    0%{
        bottom: -111px;
    }
    25%{
        bottom: -78px;
    }
    50%{
        bottom: -12px;
    }
    75%{
        bottom: -1px;
    }
    100%{
        bottom: -111px;
    }
}
@keyframes songMove_3 {
    0%{
        bottom: -78px;
    }
    25%{
        bottom: -34px;
    }
    50%{
        bottom: -89px;
    }
    75%{
        bottom: -12px;
    }
    100%{
        bottom: -78px;
    }
}
@keyframes songMove_4 {
    0%{
        bottom: -133px;
    }
    25%{
        bottom: -12px;
    }
    50%{
        bottom: -100px;
    }
    75%{
        bottom: -34px;
    }
    100%{
        bottom: -133px;
    }
}
@keyframes songMove_5 {
    0%{
        bottom: -23px;
    }
    25%{
        bottom: -67px;
    }
    50%{
        bottom: -45px;
    }
    75%{
        bottom: -89px;
    }
    100%{
        bottom: -23px;
    }
}
@keyframes songMove_6 {
    0%{
        bottom: -78px;
    }
    25%{
        bottom: -144px;
    }
    50%{
        bottom: -45px;
    }
    75%{
        bottom: -100px;
    }
    100%{
        bottom: -78px;
    }
}
@keyframes songMove_7 {
    0%{
        bottom: -56px;
    }
    25%{
        bottom: -111px;
    }
    50%{
        bottom: -23px;
    }
    75%{
        bottom: -78px;
    }
    100%{
        bottom: -56px;
    }
}
@keyframes songMove_8 {
    0%{
        bottom: -34px;
    }
    25%{
        bottom: -12px;
    }
    50%{
        bottom: -67px;
    }
    75%{
        bottom: -1px;
    }
    100%{
        bottom: -34px;
    }
}
@keyframes songMove_9 {
    0%{
        bottom: -23px;
    }
    25%{
        bottom: -89px;
    }
    50%{
        bottom: -122px;
    }
    75%{
        bottom: -78px;
    }
    100%{
        bottom: -23px;
    }
}
@keyframes songMove_10 {
    0%{
        bottom: -1px;
    }
    25%{
        bottom: -100px;
    }
    50%{
        bottom: -122px;
    }
    75%{
        bottom: -89px;
    }
    100%{
        bottom: -1px;
    }
}