/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";
$color_type_0: rgb(255, 255, 255);
$color_type_1: rgb(27, 89, 124);

$font_type_0: 24px/1.2 "Noto Sans", Helvetica, Arial, serif;
$font_type_1: 24px/1.2 "Noto Sans TC", Helvetica, Arial, serif;
$font_type_2: 500 20px/1.89 "Noto Sans", Helvetica, Arial, serif;

.travel-detail {
  &-main {
    @include flex-column;
    background-color: $color_type_0;
  }
  &-main.layout {
    position: relative;
    overflow: hidden;
    min-width: 0px;
    max-width: 1920px;
  }
  &-section1.layout {
    position: relative;
  }
  &-section2.layout {
    position: relative;
  }
  &-travel__detail__main {
    @include flex-column;
  }
  &-travel__detail__main.layout {
    position: relative;
  }
  &-flex {
    @include flex-column;
  }
  &-flex.layout {
    position: relative;
    flex-grow: 1;
    width: 66.5%;
    margin: 121px auto 54px;
    @include xl {
      margin: 60px auto 54px;
    }
    @include lg {
      margin: 36px auto 54px;
    }
  }
  &-flex-item {
    @include flex-column;
    position: relative;
  }
  &-title {
    flex-grow: 1;
  }
  &-title.layout {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    width: fit-content;
    margin: 0px auto;
  }
  &-flex1 {
    @include h-center-content;
    flex-wrap: wrap;
  }
  &-flex1.layout {
    position: relative;
    // width: 24.84%;
    margin: 105px auto 0px;
    @include xxl {
      width: 99.37%;
    }
    @include xl {
      margin: 60px auto 0px;
    }
    @include lg {
      margin: 50px auto 0px;
    }
  }
  &-flex-item1 {
    @include flex-column;
    position: relative;
    margin-right: 28px;
    margin-top: 10px;
    // &:hover {
    //   .travel-detail-group{
    //     background-color: #fff;
    //   }
    //   .travel-detail-subtitle{
    //     color: rgb(27, 89, 124);
    //   }
    // }
  }
  &-group {
    @include flex-column;
    background-color: $color_type_1;
    border: 2px solid rgb(27, 89, 124);
    transition: all 0.75s;
  }
  &-group.layout {
    position: relative;
    flex-grow: 1;
  }
  &-subtitle {
    transition: all 0.75s;
    @include font-face($font_type_2, $color_type_0, 1.6999999999999997px);
    line-height: 1.55;
  }
  &-subtitle.layout {
    position: relative;
    flex-grow: 1;
    margin: 0px 17px 0px 21px;
  }
  &-flex-spacer {
    flex: 0 1 28px;
  }
  &-flex-item2 {
    @include flex-column;
    position: relative;
    flex: 0 1 156px;
  }
  &-subtitle1 {
    @include h-center-content;
    font: $font_type_2;
    color: $color_type_0;
    text-align: center;
    letter-spacing: 1.7999999999999998px;
  }
  &-subtitle1.layout {
    position: relative;
    flex-grow: 1;
    margin: 0px 21.5px 0px 20.5px;
  }
  &-flex2 {
    @include h-center-content;
    align-items: center;
    @media (max-width: 1500px) {
      flex-wrap: wrap;
      row-gap: 16px;
      justify-content: flex-start;
    }
  }
  &-flex2.layout {
    position: relative;
    width: 99.82%;
    margin: 60px auto 0px;
    @include xl {
      margin: 36px auto 0px;
    }
    @include lg {
      margin: 26px auto 0px;
    }
  }
  &-flex-item3 {
    @include flex-column;
    position: relative;
    flex: 0 0 auto;
    min-width: 272px;
    @include xl {
      flex: 0 0 100%;
      min-width: unset;
    }
  }
  &-flex3 {
    display: flex;
  }
  &-flex3.layout {
    position: relative;
    flex-grow: 1;
  }
  &-flex-item4 {
    @include flex-column;
    position: relative;
    flex: 0 0 auto;
  }
  &-icon {
    background: var(--src) center center / contain no-repeat;
  }
  &-icon.layout {
    position: relative;
    height: 45px;
    width: 44px;
    min-width: 44px;
  }
  &-flex-spacer1 {
    flex: 0 0 auto;
    min-width: 40px;
    @include xxl;
  }
  &-flex-item5 {
    @include flex-column;
    position: relative;
    flex: 0 0 auto;
  }
  &-medium-title {
    @include font-face($font_type_0, $color_type_1, 2.4px);
  }
  &-medium-title.layout {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    width: fit-content;
    margin: 5px 0px 11px;
  }
  &-flex-spacer2 {
    flex: 0 0 auto;
    min-width: 42px;
    @include xl {
      display: none;
    }
  }
  &-flex-item6 {
    @include flex-column;
    position: relative;
    flex: 1;
  }
  &-flex4 {
    display: flex;
  }
  &-flex4.layout {
    position: relative;
    flex-grow: 1;
  }
  &-flex-item7 {
    @include flex-column;
    position: relative;
    flex: 0 1 50px;
  }
  &-image3 {
    background: var(--src) center center / contain no-repeat;
  }
  &-image3.layout {
    position: relative;
    height: 45px;
    width: 50px;
    min-width: 50px;
    margin: auto;
  }
  &-flex-spacer3 {
    flex: 0 1 40px;
  }
  &-flex-item8 {
    @include flex-column;
    position: relative;
    flex: 1 1 723px;
  }
  &-medium-title1-box.layout {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    width: fit-content;
  }
  &-medium-title1 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_1, $color_type_1, 2.4px);
    white-space: pre-wrap;
    line-height: 1.45;
    .en{
        letter-spacing: 0;
    }
  }
  &-image {
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
  }
  &-image.layout {
    position: relative;
    width: calc(100% - 1px);
    margin: 58px 0px 0px 1px;
    @include xl {
      margin: 50px 0px 0px 1px;
    }
    @include lg {
      margin: 40px 0px 0px 1px;
    }
  }
  &-flex5 {
    display: flex;
    
    img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 0.6777;
    }
  }
  &-flex5.layout {
    position: relative;
    margin: 54px 0px 20px 1px;
    @include xl {
      margin: 46px 0px 15px 1px;
    }
    @include lg {
      margin: 36px 0px 10px 1px;
    }
  }
  &-flex-item9 {
    @include flex-column;
    position: relative;
    flex: 0 1 400px;
  }
  &-image1 {
    border: 5px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
    transition: all 0.75s;
  }
  &-image1.layout {
    position: relative;
  }
  &-flex-item10 {
    @include flex-column;
    position: relative;
    flex: 0 1 400px;
  }
  &-image2 {
    border: 5px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
    object-position: center top;
  }
  &-image2.layout {
    position: relative;
  }
  &-flex-item11 {
    @include flex-column;
    position: relative;
    flex: 0 1 400px;
  }
  &-prev.layout {
    position: relative;
    width: 161px;
    min-width: 161px;
    margin: 45px auto 0px;
  }
  &-section4.layout {
    position: relative;
  }
  .editor_box{
    width: 98%;
  }
  .img_travel{
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
    &:hover, &.active{
      .travel-detail-image1, .travel-detail-image2{
        border: 5px solid #1B597C;
      }
    }
  }
  .img__box{
    position: relative;
    li{
      opacity: 0;
      transition: all 0.75s;
      &:nth-child(2), &:nth-child(3){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
      }
      &.active{
        opacity: 1;
      }
    }
    img{
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 0.6785;
    }
  }
}


.swiper.mySwiper{
    position: absolute;
    z-index: 2;
    margin-top: 149px;
    width: 100%;
    height: 801px;
    .swiper-pagination{
        bottom: 35px;
    }
    .swiper-pagination-bullet{
        background: #fff;
        opacity: 1;
        width: 14px;
        height: 14px;
        margin: 0 10px;
    }
    .swiper-pagination-bullet-active{
        background: #1B597C;
    }
    .swiper-button-prev{
        width: 106px;
        height: 166px;
        background: rgba(255,255,255,0.5);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        &::after{
            font-weight: 700;
            color: #134563;
            margin-left: 0.2em;
        }
    }
    .swiper-button-next{
        width: 106px;
        height: 166px;
        background: rgba(255,255,255,0.5);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        &::after{
            font-weight: 700;
            color: #134563;
            margin-right: 0.2em;
        }
    }
    .swiper-slide{
        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 0.4167;
        }
    }
}