/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.history-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.history-main.layout {
  position: relative;
  overflow: hidden;
  min-width: 0px;
  max-width: 1920px;
}
.history-banner.layout {
  position: relative;
  height: 950px;
}
@media (max-width: 1399px) {
  .history-banner.layout {
    height: 800px;
    margin: 0px;
  }
}
@media (max-width: 1199px) {
  .history-banner.layout {
    height: 700px;
  }
}
.history-main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.history-section2__history__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%;
}
.history-section2__history__main.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.history-section2__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.history-section2__title.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 110px auto 95px;
}
@media (max-width: 1399px) {
  .history-section2__title.layout {
    margin: 60px auto;
  }
}
@media (max-width: 1199px) {
  .history-section2__title.layout {
    margin: 36px auto;
  }
}
.history-footer {
  width: 100%;
  height: 100%;
}

.history_box {
  position: relative;
}
.history_box .swiper.mySwiper {
  max-width: 1500px;
  width: 88%;
  margin: 0 auto;
  height: 270px;
}
.history_box .swiper-slide {
  width: 19.5%;
}
.history_box .swiper-slide:hover:not(.s_circle) .year {
  font-weight: bold;
  font-size: 36px;
}
.history_box .swiper-slide:hover:not(.s_circle) .line::before {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #1B597C;
}
.history_box .swiper-slide:hover:not(.s_circle) .line::after {
  z-index: 10;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #1B597C;
}
.history_box .swiper-slide:hover:not(.s_circle) .title_name {
  font-size: 36px;
  font-weight: bold;
  color: #1B597C;
  border-bottom: 4px solid #1B597C;
}
.history_box .swiper-slide .year {
  width: 110px;
  height: 70px;
  font-size: 32px;
  color: #1B597C;
  font-weight: 500;
  margin: 0 auto 40px;
  letter-spacing: 1px;
  font-family: "noto sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.history_box .swiper-slide .line {
  position: relative;
  width: 100%;
  height: 3px;
  background: #4F4F4F;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.history_box .swiper-slide .line::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.history_box .swiper-slide .line::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1B597C;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.history_box .swiper-slide .title_name {
  font-size: 32px;
  color: #747474;
  font-weight: 400;
  line-height: 1.895;
  text-align: center;
  margin: 55px auto 0;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  display: inline-block;
  border-bottom: 4px solid transparent;
}
.history_box .swiper-slide .title_name p:first-child {
  line-height: 1;
}
.history_box .swiper-slide .title_name .en {
  font-size: 24px;
}
.history_box .swiper-slide.s_circle {
  width: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history_box .swiper-slide.s_circle .year {
  font-size: 24px;
  opacity: 0.8;
}
.history_box .swiper-slide.s_circle .line::before {
  width: 20px;
  height: 20px;
  background: #1B597C;
}
.history_box .swiper-slide.s_circle .line::after {
  opacity: 0;
}
.history_box .swiper-slide.s_circle .title_name {
  font-size: 24px;
  color: #A5A5A5;
}
.history_box .swiper-button-next {
  top: 43%;
  right: 35px;
}
.history_box .swiper-button-next::after {
  color: #1b597c;
  font-weight: 500;
}
.history_box .swiper-button-next.no-page {
  opacity: 0.5;
}
.history_box .swiper-button-prev {
  top: 43%;
  left: 35px;
}
.history_box .swiper-button-prev::after {
  color: #1b597c;
  font-weight: 500;
}
.history_box .swiper-button-prev.no-page {
  opacity: 0.5;
}