/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.photo-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.photo-main.layout {
  position: relative;
  overflow: hidden;
  min-width: 0px;
  max-width: 1921px;
}
.photo-banner.layout {
  position: relative;
}
.photo-photo__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.photo-photo__main.layout {
  position: relative;
}
.photo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.photo-flex.layout1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80.11%;
  margin: 113px auto 32px;
}
@media (max-width: 1399px) {
  .photo-flex.layout1 {
    margin: 46px auto 32px;
  }
}
@media (max-width: 1199px) {
  .photo-flex.layout1 {
    margin: 36px auto 32px;
  }
}
.photo-flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 2.1em;
}
.photo-s-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.photo-s-title.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}
.photo-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.photo-title.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0px;
}
@media (max-width: 1399px) {
  .photo-title.layout {
    margin: 7px auto 0px;
  }
}
@media (max-width: 1199px) {
  .photo-title.layout {
    margin: 5px auto 0px;
  }
}
.photo-flex.layout {
  position: relative;
  margin: 90px 0px 0px;
}
@media (max-width: 2999px) {
  .photo-flex.layout {
    margin: 56px 0px 0px;
  }
}
@media (max-width: 1399px) {
  .photo-flex.layout {
    margin: 46px 0px 0px;
  }
}
@media (max-width: 1199px) {
  .photo-flex.layout {
    margin: 36px 0px 0px;
  }
}
.photo-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.photo-flex1.layout {
  position: relative;
}
.photo-flex-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: calc((100% - 76px) / 2);
  margin-right: 76px;
  margin-top: 20px;
}
@media (max-width: 1399px) {
  .photo-flex-item1 {
    width: calc((100% - 50px) / 2);
    margin-right: 50px;
  }
}
@media (max-width: 1199px) {
  .photo-flex-item1 {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}
.photo-flex-item1:nth-child(2n) {
  margin-right: 0;
}
.photo-component {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.photo-component.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.photo-prev.layout {
  position: relative;
  width: 161px;
  min-width: 161px;
  margin: 98px auto 0px;
}
@media (max-width: 1399px) {
  .photo-prev.layout {
    margin: 55px auto 0px;
  }
}
@media (max-width: 1199px) {
  .photo-prev.layout {
    margin: 40px auto 0px;
  }
}
.photo-footer.layout {
  position: relative;
}