/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.psy-box img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.668;
}
.psy-box:hover .psy-box-image {
  border: 5px solid #1B597C;
}
.psy-box:hover .psy-box-psy-title {
  color: #1B597C;
  font-weight: 700;
}
.psy-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.psy-box-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.psy-box-image {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center top;
     object-position: center top;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  border: 5px solid transparent;
}
.psy-box-image.layout {
  position: relative;
}
.psy-box-psy-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1399px) {
  .psy-box-psy-title-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1199px) {
  .psy-box-psy-title-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.psy-box-psy-title-box.layout {
  position: relative;
  width: 137px;
  min-width: 137px;
  margin: 22px auto 74px;
}
@media (max-width: 1399px) {
  .psy-box-psy-title-box.layout {
    margin: 18px auto 60px;
  }
}
@media (max-width: 1199px) {
  .psy-box-psy-title-box.layout {
    margin: 15px auto 50px;
  }
}
.psy-box-psy-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 24px/1.89 "Noto Sans", Helvetica, Arial, serif;
  color: rgb(79, 79, 79);
  text-align: center;
  letter-spacing: 2.2px;
  white-space: pre-wrap;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  line-height: 1.5;
}
@media (max-width: 1399px) {
  .psy-box-psy-title {
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .psy-box-psy-title {
    font-size: 20px;
  }
}