/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.song-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.song-main.layout {
  position: relative;
  overflow: hidden;
  min-width: 0px;
  max-width: 1920px;
}
.song-banner.layout {
  position: relative;
}
.song-tag__menu.layout {
  position: relative;
}
.song-song__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.song-song__main.layout {
  position: relative;
}
.song-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.song-flex.layout1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 66.46%;
  margin: 119px auto 54px;
}
.song-flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.song-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-title.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}
.song-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.song-group.layout {
  position: relative;
  margin: 90px 0px 0px;
}
.song-flex.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.song-flex1.layout {
  position: relative;
}
.song-flex-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}
.song-component {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-flex-spacer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 110px;
          flex: 0 1 110px;
}
@media (max-width: 1399px) {
  .song-flex-spacer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40px;
            flex: 0 1 40px;
  }
}
@media (max-width: 1199px) {
  .song-flex-spacer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20px;
            flex: 0 1 20px;
  }
}
.song-flex-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}
.song-component1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-component1.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-flex-item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}
.song-component2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-component2.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.song-flex2.layout {
  position: relative;
  margin: 34px 0px 0px;
}
.song-flex-item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}
.song-component3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-component3.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-flex-item5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}
.song-component4 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-component4.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-flex-item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}
.song-component5 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-component5.layout {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.song-page__list.layout {
  position: relative;
  width: 380px;
  min-width: 380px;
  margin: 74px auto 0px;
}
.song-footer.layout {
  position: relative;
}

.tag-menu-tag__menu ul > li {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.tag-menu-tag__menu ul > li.active {
  background: #1B597C;
}
.tag-menu-tag__menu ul > li.active pre {
  color: #fff;
}