$font: 'Noto Sans TC', sans-serif;
$maxwidth: 1920px;

$primary-color: rgb(27, 89, 124);
$color_1: rgb(22, 67, 92);
$color_2: rgb(116, 116, 116);
$color_3: rgb(255, 255, 255);
$color_4: rgb(79, 79, 79);

$xxl:1440px;
$xl:1200px;
$lg:991px;
$md:769px;
$sm:576px;
$xs:480px;