body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}
#modalBg {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.closebtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 1em;
    right: 3.5em;
    transition: all 0.5s ease;
    z-index: 10;
    .close {
        display: inline-block;
        width: 43px;
        height: 43px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transition: 0.4s ease;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/Vectorx-h.jpg') center / contain no-repeat;
            transition: 0.75s ease;
            opacity: 0;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/assets/22482a3046b7598c2b6d9ddf65e19c12.png') center / contain no-repeat;
        }
        &:hover{
            &::after{
                opacity: 1;
            }
        }
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 14px;
    position: relative;
    width: 1650px;
    max-width: 88%;
    .modal-content{
        position: relative;
        margin: 75px 0;
        padding: 100px 185px 90px;
        li{
            width: 100%;
            display: none;
            transition: all 0.75s;
            &.show{
                display: block;
            }
        }
        img{
            display: block;
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1.4158;
        }
    }
}
.btn{
    &_box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    &_prev{
        position: relative;
        display: block;
        width: 32px;
        height: 68px;
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_l.jpg') center / contain no-repeat;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_l_h.jpg') center / contain no-repeat;
            opacity: 0;
            transition: all 0.75s;
        }
        &.no-page{
            opacity: 0.3;
            pointer-events: none;
        }
    }
    &_next{
        position: relative;
        display: block;
        width: 32px;
        height: 68px;
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_r.jpg') center / contain no-repeat;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/btn_r_h.jpg') center / contain no-repeat;
            opacity: 0;
            transition: all 0.75s;
        }
        &.no-page{
            opacity: 0.3;
            pointer-events: none;
        }
    }
}